apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: default
spec:
  selector:
    app: workload
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: default
spec:
  selector:
    app: another-workload
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080

